body {
    background: #fff;
    font-family: "Roboto";
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

/* 
.navbar-light .navbar-nav .nav-link {
    padding: 0;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin: 0;
} */

.opt {
    background: #31353D;
    padding-top: 15px;
    padding-bottom: 7px;
}

.opt .navbar {
    background: #31353D !important;
}

.opt .navbar-light .navbar-nav .nav-link {
    padding: 0;
    color: #d7d7d7;
    font-size: 14px;
    padding: 0 12px;
    border-right: 2px solid #7E8185;
}

.opt .navbar-light .navbar-nav .nav-link:hover {
    color: #d7d7d7;
}

.opt .navbar-light .navbar-nav .nav-link:focus {
    color: #d7d7d7;
}

.opt .navbar-light .navbar-nav .nav-link:active {
    color: #d7d7d7;
}

.opt .bg-dark {
    padding: 0;
}

.opt .dropdown-toggle:after {
    display: inline;
    margin: 0;
    content: 'ENG';
    border: 0;
    vertical-align: 0;
    color: #fff;
}

.top-menu {
    background: #fff;
}

.top-menu .fa-shopping-cart:after {
    content: "$0.00";
    margin-left: 10px;
    font-weight: 700;
}

.top-menu .navbar {
    padding: 15px 0;
}

.top-menu .navbar-collapse {
    margin-left: 220px;
}

.top-menu .navbar {
    background: #fff !important;
}

.top-menu .navbar-light .navbar-nav .nav-link {
    font-family: "Roboto";
    font-weight: 300;
    color: #464646;
    text-transform: capitalize;
}

header .slide {
    background: url("../img/Bg_Slide1.png") no-repeat top center;
    background-size: cover;
    padding: 140px 0;
    line-height: 35px;
    font-family: "Open Sans";
}

header .slide p {
    margin: 0;
    font-style: italic;
    font-weight: 200;
}

header .slide span p {
    margin: 0;
    color: #31415c;
    font-weight: 800;
    font-size: 14px;
}

header .slide h1 {
    font-size: 65px;
    color: #31415c;
    font-weight: 800;
}

.link-title {
    color: #111111;
    font-size: 1.063em;
    font-weight: 700;
}

header .prem {
    padding-top: 30px;
    padding-bottom: 10px;
}

header .prem .icon-space {
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

header .prem h2 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

header .prem p {
    font-size: 15px;
    font-weight: 200;
    color: #898989;
}

aside .img-block {
    display: flex;
    position: relative;
    background: #EFF2F7;
    margin-bottom: 30px;
}

aside .img-block img {
    height: 100%;
}

aside .caption-img {
    position: absolute;
    top: 67px;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    margin-right: 15px;
    height: inherit;
}

aside .caption-img h5 {
    color: #ff0036;
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 0;
}

aside .caption-img h3 {
    font-size: 1.875em;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}

aside .caption-img h4 {
    font-size: 1.875em;
    color: #ff0036;
    font-weight: 700;
}

aside .caption-img p {
    font-size: 0.750em;
    color: #636363;
    font-weight: 200;
    display: block;
    text-align: right;
    text-transform: unset;
}

aside .pos-img {
    left: 0;
    margin-left: 15px;
}

aside .pos-img h5 {
    color: #00b8b8;
}

aside .pos-img h4 {
    color: #00b8b8;
}

aside .pos-img p {
    text-align: left;
}

.collection .item-shop {
    position: relative;
}

.collection .item-shop {
    position: relative;
}

.collection .item-capt {
    position: absolute;
    top: 60px;
}

.collection .item-capt h4,
h2,
p {
    margin: 0;
    text-transform: uppercase;
}

.collection .item-capt h4 {
    color: #f7941d;
    font-size: 14px;
    font-weight: 900;
}

.collection .item-capt h2 {
    color: #00c8c8;
    font-size: 36px;
    font-weight: 700;
}

.collection .item-capt p {
    color: #636363;
    font-size: 12px;
    font-weight: 300;
    text-transform: unset;
}

.collection .link-title {
    margin-top: 20px;
    color: #111111;
    font-size: 14px;
    font-weight: 700;
}

section .product .price-rate {
    display: flex;
    justify-content: space-between;
}

section .product .price-rate .rate {
    display: flex;
    align-items: center;
}

section .product .price-rate .rate i {
    color: #B7B7B7;
    font-size: 15px;
}

section .product .price-rate .rate #one:hover {
    color: #EECF00;
}

section .product .price-rate .rate #two:hover~#one {
    color: #EECF00;
}

section .product {
    max-width: 270px;
}

section .product p {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    text-transform: unset;
}

section .product h4 {
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    text-transform: unset;
    margin: 0;
}

section .product h4 span {
    font-size: 12px;
    color: #898989;
    font-weight: 300;
    text-decoration: line-through;
}

section .product .img-poduct {
    height: 350px;
    min-width: 260px;
    position: relative;
}

section .product .img-poduct:hover .menu-hover {
    opacity: 1;
}

section .product .img-poduct .menu-hover {
    background: #fff;
    width: 270px;
    position: absolute;
    top: 275px;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    opacity: 0;
    transition: opacity .3s;
}

section .product .img-poduct .menu-hover i {
    color: #31353D;
    margin-right: 30px;
    font-size: 20px;
}

/* 
section .product .img-poduct .menu-hover i:nth-child(3) {
    margin-right: 0;
} */

section .product .img-poduct .menu-hover i:hover {
    opacity: .7;
    transition: opacity 0.7s;
}

section .product-title {
    padding: 25px 0;
}

section .product-title a {
    color: #636363;
    font-size: 10px;
    font-weight: 300;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

section .product-title .bottom-line {
    border-bottom: 1px solid #252525;
    width: 50px;
}

@media (max-width: 991px) {
    .top-menu .navbar-collapse {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    section .product .img-poduct {
        margin: 0 5px;
    }
}

/* 
@media (max-width: 767px) {
    aside .caption-img h5 {
        font-size: 10px;
    }

    aside .caption-img h3 {
        font-size: 15px;
    }

    aside .caption-img h4 {
        font-size: 20px;
    }

    aside .caption-img p {
        font-size: 9px;
    }

    aside .caption-img {
        top: 20px;
    }
    
    aside .link-title {
        font-size: 12px;
    }
} */