* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.file-space {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.folder {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 20px 10px;
    border: 1px solid transparent;
    cursor: default;
}

.folder:hover {
    border: 1px solid rgba(0,0,0, .3);
    background: rgba(0,0,0, .02);
}

.folder-icon {
    width: 40px;
}

.folder-name {
    text-align: center;
    font-size: 10px;
    line-height: 14px;
}

/*

BEGIN Basic modal styles

*/

#modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#modal .shadow {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    position: relative;
    z-index: 4;
}

#modal .window {
    position: absolute;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 38px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -15px rgba(0,0,0,0.75);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modal .window .win-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#modal .window .win-head button {
    padding: 7px;
    font-size: 15px;
}

#modal .window .win-foot {
    display: flex;
    justify-content: flex-end;
}

/*
END Basic modal styles
*/

/*

BEGIN modal folder create & rename

*/

.modal-f .window {
    border-radius: 10px;
    width: 343px;
}

.modal-f input {
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.modal-f .win-foot button {
    background: #4285F4;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 10px;
}

#modal span {
    display: block;
    opacity: 0;
    font-size: 12px;
    color: red;
    margin-bottom: 16px;
}

/*
END modal folder create & rename
*/

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.wrapper .tool-bar {
    padding: 0 10px;
}

.wrapper .tool-bar button {
    width: 50px;
    height: 50px;
    background: #4DCFE0;
    border: 0;
    color: #fff;
    font-size: 30px;
}

.context-folder {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid gray;
    background: #fff;
    width: 200px;
    display: none;
}

.context-folder ul hr {
    height: 1px;
    border: 0;
    background: gray;
}

.context-folder ul li {
    padding: 5px 20px;
    font-size: 12px;
    cursor: default;
    list-style: none;
}

.context-folder ul li:hover {
    background: #D9D9D9;
}

#alert-inf {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.pathFolders {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 10px;
}

.pathFolders li {
    list-style-type: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.pathFolders li:before {
    content:"/";
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.wrapper {
    z-index: -1;
}

.show-b {
    display: block;
}

.show-f {
    display: flex;
}

.hide {
    display: none;
}

.red {
    border: 1px solid red;
}

.red:focus {
    border: 1px solid red;
}