body {
    font-family: "Montserrat";
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

header .top-menu {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 8px 0;
}

header .top-menu .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

header .top-menu .navbar-dark .navbar-nav .nav-link:hover {
    color: #c7b299;
}

header .top-menu .nav-item-act {
    margin-left: 35px;
}

header .top-menu .navbar-dark .navbar-toggler {
    border: none;
}

header .carousel-item {
    height: 100vh;
    min-height: 600px;
}

header .carousel-item img {
    object-fit: cover;
    object-position: center center;
}

header .carousel-item .carousel-caption h6 {
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 300;
}

header .carousel-item .carousel-caption h2 {
    font-family: "Raleway";
    font-size: 52px;
    font-weight: 800;
}

header .carousel-item .carousel-caption p {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 200;
}

header .carousel-item .carousel-caption {
    top: 200px;
}

header .carousel-item .carousel-caption .btn-secondary {
    background: #998675;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    width: 170px;
    margin-top: 15px;
}

header .carousel-item .carousel-caption .btn-secondary a:focus {
    box-shadow: none;
    border: none
}

header .carousel-item .carousel-caption .btn-secondary a:active {
    box-shadow: none;
    border: none
}

section {
    min-height: 373px;
}

section .advant {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

section .advant .icon-card {
    height: 50px;
}

section .advant h3 {
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 600;
    color: #555;
    margin-bottom: 0;
    margin-top: 30px;
}

section .advant h3 span {
    color: #c7b299;
}

section .advant p {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    margin-top: 20px;
}

section .advant .border-line {
    padding-top: 30px;
    border-bottom: 3px solid #F1EEE9;
    width: 70px;
    margin: auto;
}

section .advant .active {
    border-bottom: 3px solid #C7B299;
}

article {
    background: #FBFAF8;
}

article .waxom-title {
    text-align: center;
}

article .waxom-title h3 {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    padding-top: 83px;
    color: #555;
}

article .waxom-title p {
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    margin-top: 20px;
    margin-bottom: 40px;
}

.multi {
    background: linear-gradient(to right, #211B19, #4E3427);
}

.multi .multi-title {
    line-height: 25px;
    margin: 45px 0;
}

.multi .multi-title h3 {
    color: #fff;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 28px;
}

.multi .multi-title span {
    color: #c7b299;
}

.multi .multi-title p {
    color: #615855;
    font-weight: 300;
    font-size: 18px;
}

.multi .multi-btn .btn-secondary {
    background: #998675;
    width: 155px;
    height: 50px;
    border-bottom: 3px solid #736357;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}

.multi .multi-btn {
    align-self: center;
}

.multi .multi-btn .btn-secondary:hover {
    background: #998675;
    border: none;
    box-shadow: none;
}

/* 
.latest-project {
    min-height: 1162px;
} */

.latest-project .project-title {
    text-align: center;
}

.latest-project .project-title h3 {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 600;
    color: #555;
    margin-top: 79px;
}

.latest-project .project-title p {
    font-size: 16px;
    color: #8c8c8c;
    margin-top: 20px;
    margin-bottom: 40px;
}

.latest-project .active {
    background: #998675 !important;
}

.latest-project .btn-nav .btn-secondary {
    margin-left: 10px;
    height: 30px;
    background: none;
    border: 1px solid #EBEBEB;
    color: #8c8c8c;
    border-radius: 4px;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.latest-project .btn-nav .btn-secondary:active {
    border: 1px solid #EBEBEB;
    background: #998675 !important;
}

.latest-project .btn-nav .btn-secondary:focus {
    box-shadow: none !important;
    background: #998675;
    color: #fff;
}

.latest-project .card {
    margin-bottom: 30px;
    min-height: 337px;
    background: #FBFAF8;
    border: none;
    border-radius: 0;
}

.latest-project .card:hover {
    background: #362F2D;
}

.latest-project .card:hover .card-body h4 {
    color: #fff;
}

/* 
.latest-project .card .card-body:before {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 15px solid #FBFAF8;
    top: 189px;
} */

.latest-project .card .card-body h4 {
    font-size: 20px;
    color: #c7b299;
    font-weight: 400;
    margin-bottom: 0;
}

.latest-project .card .card-body p {
    font-size: 14px;
    color: #d1d1d1;
    font-weight: 400;
}

.latest-project .load-btn .btn-secondary {
    background: #998675;
    width: 155px;
    height: 45px;
    border-bottom: 3px solid #736357;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: "Raleway";
    margin-bottom: 20px;
}

.latest-project .load-btn .btn-secondary:active {
    background: #998675;
}

.latest-project .load-btn .btn-secondary:focus {
    box-shadow: none;
}

.waxom-video {
    height: 705px;
    background: url("../img/waxom-video.png");
}

.waxom-video img {
    margin-top: 210px;
    margin-bottom: 44px;
}

.waxom-video .present-title {
    text-align: center;
}

.waxom-video .present-title h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

.waxom-video .present-title p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 40px;
}

.waxom-video .present-title span p {
    color: #c7b299;
    font-size: 14px;
}

.waxom-mobile img {
    margin-top: 80px;
}

.waxom-mobile h3 {
    margin-top: 196px;
    font-size: 30px;
    color: #555;
    font-weight: 600;
    margin-bottom: 35px;
}

.waxom-mobile p {
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 300;
    margin-bottom: 35px;
}

.waxom-mobile ul li {
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 300;
    list-style-image: url("../img/li-point.png");
}

.waxom-mobile ul li:before {
    content: '';
    margin-left: 15px;
}

.waxom-static {
    background: linear-gradient(to right, #211B19, #4E3427);
    text-align: center;
}

.waxom-static .icon-stat {
    margin-top: 70px;
    margin-bottom: 25px;
}

.waxom-static h3 {
    font-family: "Montserrat";
    font-size: 48px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 10px;
}

.waxom-static p {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.waxom-static .line-bottom {
    border-bottom: 2px solid #fff;
    width: 30px;
    margin: auto;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    section .advant {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .latest-project .card {
        margin: 10px;
    }
    .waxom-mobile h3 {
        margin-top: 66px;
    }
    .waxom-mobile ul li:nth-child(4) {
        margin-bottom: 66px;
    }
}

@media (max-width: 768px) {
    header .carousel-item {
        height: 100vh;
        min-height: 0;
    }
    .multi .multi-btn .btn-secondary {
        width: 100%;
        margin-bottom: 20px;
    }
    .multi .multi-title {
        text-align: center;
    }
    .latest-project .btn-secondary {
        margin-bottom: 5px;
    }
}

@media (max-width: 576px) {
    article .waxom-ideas h3 {
        padding-top: 10px;
    }
    article .waxom-ideas p {
        color: #555;
        font-size: 13px;
    }
}