body {
    min-width: 320px;
    font-family: "Roboto Condensed";
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 60px;
    color: #00a651;
    font-weight: 700;
}

header .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 22px !important;
}

header .nav-link img {
    margin: auto;
}

header .nav-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

header .navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    color: #707070;
    font-size: 16px;
}

header .red-point {
    background: #E40024;
}

header .red-point .nav-link {
    color: #fff !important;
}

header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

header .menu-butt {
    background: #F2F2F2;
}

.pizza {
    background: url("../img/bg.png") center center;
    background-size: cover;
    height: 100vh;
}

.pizza .pizza-title {
    height: 100vh;
    display: flex;
}

.pizza .pizza-title .center {
    margin: auto;
}

.pizza p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.pizza .btn {
    background: #E40024;
    font-size: 20px;
    padding: 13px 40px;
}

footer {
    padding: 20px 0;
}

footer p {
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
}

footer .icons .fa {
    font-size: 20px;
    margin-left: 20px;
    color: #707070;
}

footer .icons .fa:hover {
    color: #E40024;
}

footer span {
    color: #E40024;
}

.our-pizza {
    padding-top: 45px;
    padding-bottom: 30px;
}

.our-pizza hr {
    background: #00A651;
    height: 2px;
    width: 305px;
    margin-left: 0;
}

.our-pizza h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.our-pizza .fa {
    background: #E40024;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
}

