body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova;
    background: #0F111A;
    min-width: 320px;
}

.header {
    display: flex;
    height: 100vh;
}

.wrap {
    margin-top: 150px;
    padding: 0 0 0 20px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 38px;
    color: #fff;
    line-height: 40px;
    font-family: 'Avenir Next Cyr';
}

h1 {
    display: inline-block;
}

.wip {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}

span {
    display: none;
}

.wip:hover {
    color: #FC0853;
}

.wip.active {
    transform: scaleY(1.2) scaleX(1.1);
}

.wip.activeAfter {
    transform: scaleY(.9) scaleX(.9);
}















nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
    background: #090B10;
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    list-style: none;
    opacity: .5;
}

.soc li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0px;
}

li i {
    font-size: 20px;
}

li:hover {
    opacity: 1;
}

p {
    color: #fff;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    outline: none;  
}

nav .menu-wrap:first-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

nav .menu-wrap:last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.line {
    width: 2px;
    height: 100%;
    background: #FC0853;
}













@media(max-width: 576px) {
    h1,h2,h3,h4,h5 {
        line-height: 30px;
    }
    .wip {
        font-size: 32px;
    }
}

@media(max-width: 468px) {
    h1,h2,h3,h4,h5 {
        line-height: 24px;
    }
    .wip {
        font-size: 29px;
    }
}

@media(max-width: 415px) {
    h1,h2,h3,h4,h5 {
        line-height: 19px;
    }
    .wip {
        font-size: 25px;
    }
}

@media(max-width: 360px) {
    h1,h2,h3,h4,h5 {
        line-height: 19px;
    }
    .wip {
        font-size: 22px;
    }
}