body {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova;
    background: #0F111A;
}

.header {
    display: flex;
    height: 100vh;
    padding: 0 20px;
}

.wrap {
    margin-top: 70px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 38px;
    color: #fff;
    line-height: 40px;
}

h1 {
    display: inline-block;
}

.wip {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}

span {
    display: none;
}

.wip:hover {
    color: #FC0853;
}

.wip.active {
    transform: scaleY(1.2) scaleX(1.1);
}

.wip.activeAfter {
    transform: scaleY(.9) scaleX(.9);
}

@media(max-width: 576px) {
    h1,h2,h3,h4,h5 {
        line-height: 30px;
    }
    .wip {
        font-size: 32px;
    }
}

@media(max-width: 468px) {
    h1,h2,h3,h4,h5 {
        line-height: 24px;
    }
    .wip {
        font-size: 25px;
    }
}

@media(max-width: 374px) {
    h1,h2,h3,h4,h5 {
        line-height: 15px;
    }
    .wip {
        font-size: 20px;
    }
}