body {
    font-family: 'Open Sans';
    background: #fff;
    min-width: 320px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.top-menu {
    background: #fff;
}

.top {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
}

.top .tool {
    font-size: 14px;
    padding: 12px 0;
    padding-left: 70px;
    border-top: 1px solid #E1E9F2;
    border-bottom: 1px solid #E1E9F2;
}

.top .logo h5 {
    margin-left: 10px;
    font-weight: 800;
}

.top .tool a {
    color: #9ba4b0;
    text-align: center;
}

.top .tool a span {
    color: #484e57;
}

.top .tool i:before {
    content: "|";
    color: #9ba4b0;
    margin: 0 5px;
}

.bottom ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.bottom ul li {
    list-style: none;
    padding: 20px 0;
    background: #FF8261;
    flex-grow: 1;
    text-align: center;
}

.bottom ul li:hover {
    background: #52CBF8;
}

.bottom ul li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

.carousel-item {
    background: url("../img/bg.png") center center;
    background-size: cover;
    height: 100vh;
}

.carousel-caption h5 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 800;
}

.carousel-caption p {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 60px;
    font-weight: 300;

}

.carousel-caption h4 {
    margin-bottom: 180px;
    text-transform: uppercase;
    font-size: 14px;
    color: #9aaeb7;
}

.carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    background: transparent !important;
    border-radius: 50%;
    border: 2px solid #5278DB;
}

.carousel-indicators li.active {
    border: 2px solid #FF8261;
}

.navbar-toggler {
    border: 2px solid #E1E9F2 !important;
    width: 100%;
    margin-bottom: 15px;
}

.navbar-set {
    text-transform: uppercase;
}

.search {
    background: #E7F4F8;
    padding-top: 40px;
    padding-bottom: 70px;
}

.search .content {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .top {
        justify-content: center;
    }

    .top .tool {
        display: none;
    }

    .bottom ul li {
        padding: 10px 0;
    }
}

@media (max-width: 768px) {
    .top {
        justify-content: center;
    }

    .top .tool {
        display: none;
    }
}

@media (max-width: 576px) {
    
}

@media (max-width: 508px) {
    
}