body {
    min-width: 320px;
    font-family: "Raleway";
    color: #3b3b3b;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-weight: 800;
    font-size: 30px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.logo {
    font-weight: 800;
    font-size: 30px;
    color: #ededed;
    text-transform: uppercase;
} 

h3 {
    font-weight: 600;
    font-size: 30px;
}

a {
    font-size: 18px;
    font-weight: 600;
    color: #3b3b3b;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #3b3b3b;
    margin-bottom: 0;
}

.header {
    background: url("../img/bg.png") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.collapse.show {
    display: block;
}

.navbar-toggler {
    text-transform: uppercase;
    font-size: 24px;
    color: #ededed !important;
    font-weight: 700;
}

.navbar-toggler:before {
    content: 'menu';
    letter-spacing: 5px;
}

.navbar-toggler-icon {
    background: url("../img/burger-menu.png") center center no-repeat !important;
}

h1 {
    font-weight: 800;
    font-size: 48px;
    color: #ededed;
    text-transform: uppercase;
}

.header .row {
    height: 100vh;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.header p {
    color: #ededed;
    font-size: 24px;
}

.header p i {
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #3b3b3b;
}

.about .second-menu {
    box-shadow: 0px 11px 20px -10px #D8D8D8;
}

.about-us {
    padding: 48px 0 50px;
}

.about-us .fa {
    font-size: 70px;
}

.statistics {
    background: url("../img/statistics.png") center center no-repeat;
    background-size: cover;
    padding: 90px 0 100px;
}

.statistics h2 {
    color: #ededed;
}

.statistics .title {
    color: #ededed;
}

.statistics .static h2 {
    color: #ededed;
    font-size: 72px;
    font-weight: 600;
}

.statistics .static p {
    color: #ededed;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.statistics .title {
    margin-bottom: 50px;
}