body {
    font-family: "Museo Sans Cyrl 300";
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

h4 {
    font-family: "Museo Sans Cyrl 700";
    color: #464545;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 52px;
}

.header {
    background: rgb(216, 216, 216);
    /* Old Browsers */
    background: -webkit-linear-gradient(top right, rgb(216, 216, 216), rgb(255, 255, 255));
    /*Safari 5.1-6*/
    background: -o-linear-gradient(top right, rgb(216, 216, 216), rgb(255, 255, 255));
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(top right, rgb(216, 216, 216), rgb(255, 255, 255));
    /*Fx 3.6-15*/
    background: linear-gradient(top right, rgb(216, 216, 216), rgb(255, 255, 255));
    /*Standard*/
    padding-top: 20px;
    padding-bottom: 60px;
    position: relative;
}

.header .spin {
    position: absolute;
    right: 0;
    top: 100px;
}

.header .spin img {
    /* object-fit: cover; */
}

/* header */

/* top-wrap */

.header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.header .logo p {
    font-family: "Museo Sans Cyrl 100";
    font-size: 13px;
    text-align: center;
    color: #464545;
    line-height: 22px;
}

.header .call-us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

.header .call-us h3 {
    margin-bottom: 11px;
    color: #2b2b2b;
    line-height: 29px;
    font-family: "Museo Sans Cyrl 100";
}

.header .call-us h3 span {
    color: #464545;
}

.header .call-us .head-btn {
    padding: 12px 30px;
    border: 0;
    background: transparent;
    border: 1px dashed #0088D6;
    border-radius: 30px;
    color: #0088d6;
    text-transform: uppercase;
    font-size: 15px;
}

/* top-wrap */

/* center-title */

.header .center-title .center {
    margin: 0 auto;
    max-width: 487px;
    margin-top: 60px;
    margin-bottom: 75px;
}

.header .center-title .center p {
    text-align: start;
    color: #393939;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.header .center-title .center h1 {
    font-size: 61px;
    font-family: "Museo Sans Cyrl 900";
    text-transform: uppercase;
    color: #2b2b2b;
}

.header .center-title .center h1 span {
    color: #5a5a5a;
}

.header .center-title .center p:last-child {
    text-align: end;
}

/* center-title */

/* pre-bottom */

.header .pre-bottom .case {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .pre-bottom .case .icon-case {
    height: 52px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.header .pre-bottom .case .text-case {
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.header .pre-bottom .case .text-case:nth-child(2) {
    font-family: "Museo Sans Cyrl 500";
}

/* pre-bottom */

/* bottom-stock */

.header .bottom-stock .time {
    background: #fff;
    padding: 15px 0;
    margin-top: 70px;
    margin-bottom: 45px;
}

.header .bottom-stock .time-wrap {
    max-width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.header .bottom-stock .time-wrap h5 {
    font-size: 22px;
    text-transform: uppercase;
    color: #343434;
}

.header .bottom-stock .time-wrap span {
    font-size: 42px;
    font-family: "Museo Sans Cyrl 900";
    text-transform: uppercase;
    color: #db7d7d;
}

.header .bottom-stock .time-wrap #clock {
    display: flex;
    align-items: center;
}

.header .bottom-stock .stock-text {
    font-family: "Museo Sans Cyrl 100";
    font-size: 16px;
    color: #343434;
    text-align: center;
}

.header .form-stock form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.header .form-stock form .btn {
    padding: 15px 90px;
    background: #3BC7C2;
    border: 0;
    border-radius: 30px;
    color: #feffff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.header .form-stock form .inp {
    border: 1px solid #A2A2A2;
    background: transparent;
    width: 234px;
    padding: 15px 25px;
    border-radius: 30px;
    margin-right: 45px;
}

/* bottom-stock */

/* header */

/* advantages */

.advantages {
    background: #ffffff;
    padding: 85px 0;
}

.advantages .case {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    position: relative;
}

.advantages .case .icon-case {
    height: 58px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.advantages .case .text-case h3 {
    text-align: center;
    font-size: 17px;
    color: #000;
    margin-bottom: 11px;
}

.advantages .case .text-case p {
    text-align: center;
    font-size: 15px;
    color: #000;
}

/* advantages */
/* made */

.made {
    padding-top: 90px;
    padding-bottom: 80px;
    background: #F5F5F5;
}

.made .characteristics {
    margin-bottom: 135px;
}

.made .characteristics ul {
    padding-left: 0;
}

.made h5 {
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Museo Sans Cyrl 500";
    color: #000;
}

.made .characteristics ul li {
    list-style: none;
    color: #131313;
    font-size: 15px;
    font-family: "Museo Sans Cyrl 100";
    border-bottom: 1px solid #AEAEAE;
    padding: 10px 5px;
}

/* made */
/* contrast */

.contrast {
    padding-top: 70px;
    padding-bottom: 95px;
    background: #FDFDFD;
}

.hree {
    width: 915px;
    color: #AEAEAE;
    margin-bottom: 0;
    margin-top: 0;
}

.contrast .case {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    position: relative;
}

.contrast .bord {
    border-right: 1px solid #ddd;
}

.contrast .case .icon-case {
    height: 46px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.contrast .case .text-case h3 {
    text-align: center;
    font-size: 17px;
    color: #000;
    margin-bottom: 11px;
}

.contrast .case .text-case p {
    text-align: center;
    font-size: 15px;
    color: #000;
}
/* contrast */
/* sert */

.cert {
    padding-top: 95px;
}

/* sert */
/* plans */

.plans {
    padding-top: 80px;
    background: #F5F5F5;
}

/* plans */
@media (max-width: 992px) {
    .header .form-stock form {
        justify-content: center;
    }
    .header .form-stock form .inp {
        margin-right: 30px;
    }
    .header .form-stock form input:nth-child(2) {
        margin-right: 0px;
    }
    .header .form-stock form .btn {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .contrast .bord {
        border-right: 0;
    }
}

@media (max-width: 576px) {
    .head-center-s {
        display: flex;
        justify-content: center;
    }
    .head-center-s:first-child {
        margin-bottom: 15px;
    }
    .header .pre-bottom .case {
        margin-top: 35px;
    }
    .header .form-stock form .inp {
        margin-right: 0px;
        margin-top: 30px;
    }
    .header .center-title .center p {
        font-size: 16px;
    }
    
    .header .center-title .center h1 {
        font-size: 41px;
        text-align: center;
    }
}