

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding: 0 20px;
}

.items {
    text-align: center;
}

.point {
    background: rgb(231, 111, 205);
}

.res {
    font-weight: 700;
}